export(infercna)
export(retrieveGenome)
export(addGenome)
export(availableGenomes)
export(clip)
export(colcenter)
export(currentGenome)
export(logtpm)
export(orderGenes)
export(refCorrect)
export(rowcenter)
export(runMean)
export(splitGenes)
export(unlogtpm)
export(useData)
export(useGenome)
importFrom(caTools,runmean)
importFrom(dplyr,arrange)
importFrom(dplyr,mutate)
importFrom(magrittr,"%>%")
importFrom(mixtools,normalmixEM)
importFrom(stats,setNames)
importFrom(tibble,as_tibble)
